# Dependency directories
node_modules/

#Hidden cache
.cache/
test-results/
playwright-report/

# Environment variables
.env

# Output files
output/
scrape_results/
obsidian_export/
*.json
*.csv

!package.json
!tsconfig.json
!playwright.config.ts